Repository kevin0018/Huellas, pull requests merged in 2025-08, with the labels that each got.

#16 feat: enhance Owner registration with validation for existing IDs and…
  backend/src/contexts/owner/infra/persistence/MemoryOwnerRepository.ts
  backend/src/contexts/owner/infra/persistence/PrismaOwnerRepository.ts
  backend/src/contexts/owner/tests/app/commands/registerOwner/RegisterOwnerCommandHandler.test.ts
Labels: backend, testing

#21 Dev auth controller
  backend/package.json
  backend/src/app.ts
  backend/src/contexts/auth/app/commands/login/LoginCommand.ts
  backend/src/contexts/auth/app/commands/login/LoginCommandHandler.ts
  backend/src/contexts/auth/domain/entities/UserAuth.ts
  backend/src/contexts/auth/domain/repositories/AuthRepository.ts
  backend/src/contexts/auth/domain/value-objects/.keep
  backend/src/contexts/auth/infra/controllers/AuthController.ts
  backend/src/contexts/auth/infra/middleware/JwtMiddleware.ts
  backend/src/contexts/auth/infra/repositories/MemoryAuthRepository.ts
  backend/src/contexts/auth/infra/repositories/PrismaAuthRepository.ts
  backend/src/contexts/auth/tests/app/commands/login/LoginCommandHandler.test.ts
  backend/src/contexts/auth/tests/domain/UserAuth.test.ts
  backend/src/routes/authRoutes.ts
  backend/src/routes/index.ts
  backend/src/test-routes.ts
  backend/src/types/express.d.ts
  backend/tests/http/auth.http
  backend/tests/http/protected-routes-examples.http
Labels: authentication, feature, backend, api, security

#22 Feat logout
  backend/docker-compose.yml
  backend/package.json
  backend/src/app.ts
  backend/src/config/RedisService.ts
  backend/src/contexts/auth/app/commands/logout/LogoutCommand.ts
  backend/src/contexts/auth/app/commands/logout/LogoutCommandHandler.ts
  backend/src/contexts/auth/infra/controllers/AuthController.ts
  backend/src/contexts/auth/infra/middleware/JwtMiddleware.ts
  backend/src/contexts/auth/infra/services/JwtBlacklist.ts
  backend/src/index.ts
  backend/src/routes/authRoutes.ts
  backend/tests/http/logout-test.http
Labels: authentication, feature, backend, api, security, testing

#24 feat: implement delete owner functionality with command pattern and r…
  backend/prisma/schema.prisma
  backend/src/contexts/owner/app/commands/delete/DeleteOwnerCommand.ts
  backend/src/contexts/owner/app/commands/delete/DeleteOwnerCommandHandler.ts
  backend/src/contexts/owner/domain/repositories/OwnerRepository.ts
  backend/src/contexts/owner/infra/controllers/DeleteOwnerController.ts
  backend/src/contexts/owner/infra/persistence/MemoryOwnerRepository.ts
  backend/src/contexts/owner/infra/persistence/PrismaOwnerRepository.ts
  backend/src/contexts/owner/tests/app/commands/deleteOwner/DeleteOwnerCommandHandler.test.ts
  backend/src/routes/ownerRoutes.ts
  backend/tests/http/delete-owner-test.http
Labels: authentication, feature, database, api, security, testing

#25 Refactor owner domain
  backend/src/contexts/owner/domain/entities/Owner.ts
  backend/src/contexts/owner/infra/persistence/PrismaOwnerRepository.ts
  backend/src/contexts/owner/tests/domain/Owner.test.ts
  backend/src/contexts/volunteer/domain/.gitkeep
  backend/src/contexts/volunteer/domain/entities/Volunteer.ts
  backend/src/contexts/volunteer/domain/repositories/VolunteerRepository.ts
  backend/src/contexts/volunteer/domain/value-objects/VolunteerId.ts
  backend/src/contexts/volunteer/infra/.gitkeep
  backend/src/contexts/volunteer/infra/persistence/MemoryVolunteerRepository.ts
Labels: priority: high, authentication, feature, backend, testing

#26 Add theme and language switchers with i18n support Introduces a theme context (light/dark) with provider, switcher, and design tokens. Adds i18n context, provider, and language switcher supporting English, Spanish, and Catalan. Refactors NavBar and HomePage to use new theme and language features, updates translation dictionaries, and improves styling for accessibility and responsiveness.
  README.es.md
  README.md
  backend/.env.example
  frontend/index.html
  frontend/public/huellas.jpg
  frontend/public/media/dogs_desktop.png
  frontend/public/media/dogs_title.png
  frontend/public/media/favicon.png
  frontend/public/media/logotipo.svg
  frontend/public/vite.svg
  frontend/src/Components/CTAButton.tsx
  frontend/src/Components/NavBar.tsx
  frontend/src/Components/theme/ThemeContext.ts
  frontend/src/Components/theme/ThemeProvider.tsx
  frontend/src/Components/theme/ThemeSwitcher.tsx
  frontend/src/Components/theme/useTheme.ts
  frontend/src/Styles/tokens.css
  frontend/src/Views/HomePage.tsx
  frontend/src/i18n/LanguageProvider.ts
  frontend/src/i18n/LanguageSwitcher.tsx
  frontend/src/i18n/TranslatorContext.ts
  frontend/src/i18n/dictionary.ts
  frontend/src/i18n/hooks/hook.ts
  frontend/src/index.css
Labels: feature, react, structure, frontend

#46 Dev login view
  frontend/src/Views/Login.tsx
  frontend/src/Views/Register.tsx
  frontend/src/i18n/dictionary.ts
  frontend/src/index.css
Labels: authentication, react, ui

#48 fix: update email in tests for owner registration and login
  backend/src/contexts/owner/infra/persistence/PrismaOwnerRepository.ts
  backend/tests/http/auth.http
  backend/tests/http/owners.http
Labels: priority: high, authentication, database, backend, api, security

#57 Feat update profile
  backend/src/contexts/auth/app/commands/changePassword/ChangePasswordCommand.ts
  backend/src/contexts/auth/app/commands/changePassword/ChangePasswordCommandHandler.ts
  backend/src/contexts/auth/app/commands/getProfile/GetUserProfileCommand.ts
  backend/src/contexts/auth/app/commands/login/LoginCommandHandler.ts
  backend/src/contexts/auth/app/commands/toggleVolunteer/VolunteerCommandHandlers.ts
  backend/src/contexts/auth/app/commands/toggleVolunteer/VolunteerCommands.ts
  backend/src/contexts/auth/app/commands/updateProfile/UpdateUserProfileCommand.ts
  backend/src/contexts/auth/app/commands/updateProfile/UpdateUserProfileCommandHandler.ts
  backend/src/contexts/auth/app/queries/getCurrentProfile/GetCurrentProfileQuery.ts
  backend/src/contexts/auth/app/queries/getCurrentProfile/GetCurrentProfileQueryHandler.ts
  backend/src/contexts/auth/domain/repositories/AuthRepository.ts
  backend/src/contexts/auth/infra/controllers/ProfileController.ts
  backend/src/contexts/auth/infra/repositories/MemoryAuthRepository.ts
  backend/src/contexts/auth/infra/repositories/PrismaAuthRepository.ts
  backend/src/contexts/auth/tests/app/commands/changePassword/ChangePasswordCommandHandler.test.ts
  backend/src/contexts/auth/tests/app/commands/toggleVolunteer/ToggleVolunteerCommandHandler.test.ts
  backend/src/contexts/auth/tests/app/commands/updateProfile/UpdateUserProfileCommandHandler.test.ts
  backend/src/contexts/auth/tests/app/queries/getCurrentProfile/GetCurrentProfileQueryHandler.test.ts
  backend/src/contexts/auth/tests/integration/ProfileManagementIntegration.test.ts
  backend/src/routes/authRoutes.ts
  backend/tests/http/profile-tests.http
  frontend/src/Components/VolunteerModal.tsx
  frontend/src/Views/UserHome.tsx
  frontend/src/Views/UserProfile.tsx
  frontend/src/modules/auth/application/commands/ChangePasswordCommand.ts
  frontend/src/modules/auth/application/commands/ChangePasswordCommandHandler.ts
  frontend/src/modules/auth/application/commands/ToggleVolunteerCommand.ts
  frontend/src/modules/auth/application/commands/ToggleVolunteerCommandHandler.ts
  frontend/src/modules/auth/application/commands/UpdateProfileCommand.ts
  frontend/src/modules/auth/application/commands/UpdateProfileCommandHandler.ts
  frontend/src/modules/auth/domain/AuthRepository.ts
  frontend/src/modules/auth/domain/User.ts
  frontend/src/modules/auth/infra/ApiAuthRepository.ts
  frontend/src/modules/auth/infra/MemoryAuthRepository.ts
  frontend/src/modules/auth/tests/ApiAuthRepository.test.ts
  frontend/src/modules/auth/tests/ChangePasswordCommandHandler.test.ts
  frontend/src/modules/auth/tests/MemoryAuthRepositoryProfileManagement.test.ts
  frontend/src/modules/auth/tests/ToggleVolunteerCommandHandler.test.ts
  frontend/src/modules/auth/tests/UpdateProfileCommandHandler.test.ts
Labels: priority: medium, authentication, feature, database, react, ui, frontend, backend, api, security, testing

#64 Dev appointments
  backend/src/contexts/appointment/app/commands/createAppointment/CreateAppointmentCommand.ts
  backend/src/contexts/appointment/app/commands/createAppointment/CreateAppointmentCommandHandler.ts
  backend/src/contexts/appointment/app/commands/deleteAppointment/DeleteAppointmentCommand.ts
  backend/src/contexts/appointment/app/commands/deleteAppointment/DeleteAppointmentCommandHandler.ts
  backend/src/contexts/appointment/app/commands/updateAppointment/UpdateAppointmentCommand.ts
  backend/src/contexts/appointment/app/commands/updateAppointment/UpdateAppointmentCommandHandler.ts
  backend/src/contexts/appointment/app/queries/getAppointmentById/GetAppointmentByIdQuery.ts
  backend/src/contexts/appointment/app/queries/getAppointmentById/GetAppointmentByIdQueryHandler.ts
  backend/src/contexts/appointment/app/queries/getAppointmentsByOwner/GetAppointmentsByOwnerQuery.ts
  backend/src/contexts/appointment/app/queries/getAppointmentsByOwner/GetAppointmentsByOwnerQueryHandler.ts
  backend/src/contexts/appointment/app/queries/getAppointmentsByPet/GetAppointmentsByPetQuery.ts
  backend/src/contexts/appointment/app/queries/getAppointmentsByPet/GetAppointmentsByPetQueryHandler.ts
  backend/src/contexts/appointment/domain/entities/Appointment.ts
  backend/src/contexts/appointment/domain/repositories/AppointmentRepository.ts
  backend/src/contexts/appointment/infrastructure/controllers/AppointmentController.ts
  backend/src/contexts/appointment/infrastructure/persistence/MemoryAppointmentRepository.ts
  backend/src/contexts/appointment/infrastructure/persistence/PrismaAppointmentRepository.ts
  backend/src/contexts/appointment/tests/app/commands/createAppointment/CreateAppointmentCommandHandler.test.ts
  backend/src/contexts/appointment/tests/app/commands/deleteAppointment/DeleteAppointmentCommandHandler.test.ts
  backend/src/contexts/appointment/tests/app/commands/updateAppointment/UpdateAppointmentCommandHandler.test.ts
  backend/src/contexts/appointment/tests/app/queries/getAppointmentById/GetAppointmentByIdQueryHandler.test.ts
  backend/src/contexts/appointment/tests/app/queries/getAppointmentsByOwner/GetAppointmentsByOwnerQueryHandler.test.ts
  backend/src/contexts/appointment/tests/infrastructure/persistence/MemoryAppointmentRepository.test.ts
  backend/src/contexts/auth/infra/middleware/JwtMiddleware.ts
  backend/src/routes/appointmentRoutes.ts
  backend/src/routes/index.ts
  backend/tests/http/appointments.http
  frontend/src/App.tsx
  frontend/src/Components/AppointmentCard.tsx
  frontend/src/Components/AppointmentModal.tsx
  frontend/src/Components/PetSelector.tsx
  frontend/src/Views/AppointmentsView.tsx
  frontend/src/Views/UserHome.tsx
  frontend/src/modules/appointment/application/commands/CreateAppointmentCommand.ts
  frontend/src/modules/appointment/application/commands/CreateAppointmentCommandHandler.ts
  frontend/src/modules/appointment/application/queries/GetAppointmentsQuery.ts
  frontend/src/modules/appointment/application/queries/GetAppointmentsQueryHandler.ts
  frontend/src/modules/appointment/domain/Appointment.ts
  frontend/src/modules/appointment/domain/AppointmentRepository.ts
  frontend/src/modules/appointment/infra/ApiAppointmentRepository.ts
  frontend/src/modules/pet/application/.keep
  frontend/src/modules/pet/application/GetUserPetsQuery.ts
  frontend/src/modules/pet/application/GetUserPetsQueryHandler.ts
  frontend/src/modules/pet/domain/Pet.ts
  frontend/src/modules/pet/domain/PetRepository.ts
  frontend/src/modules/pet/infra/.keep
  frontend/src/modules/pet/infra/ApiPetRepository.ts
Labels: authentication, feature, react, frontend, backend, api, security, testing
